.week-day,
th {
  padding: 10px;
  background-color: #000;
  color: #fff;
}

td {
  border: 1px solid #000;
}

table {
  width: 350px;
}
.calendar-day {
}

.today {
  background-color: #000;
  color: #fff;
}
